html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  background-color: #2FC99E; }

body, h1, h2, h3, h4, h5, p {
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, Sans Serif; }

h1 {
  font-weight: 700; }

p {
  color: #31393C;
  font-size: 1.2em; }

#page {
  background-color: #2FC99E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
@media(min-width: 374px) {
  #page {
    height: 100vh; } }
#logo {
  width: 200px; }
  @media (min-width: 700px) {
    #logo {
      min-width: 300px !important; } }

#content {
  color: #FFF;
  text-align: center; }
  #content h1 {
    font-size: 2.5em; }
    @media (min-width: 1000px) {
      #content h1 {
        font-size: 4em; } }
  #content h2 {
    font-size: 1.75em; }
    @media (min-width: 700px) {
      #content h2 {
        font-size: 2.25em; } }

#mc_embed_signup {
  margin-top: 1.5em; }
  #mc_embed_signup .mc-field-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 700px) {
      #mc_embed_signup .mc-field-group {
        flex-direction: row; } }
    #mc_embed_signup .mc-field-group label {
      font-size: 1.5em;
      font-weight: 300;
      width: 200px; }
      @media (min-width: 700px) {
        #mc_embed_signup .mc-field-group label {
          font-size: 2em; } }
    #mc_embed_signup .mc-field-group .input-group {
      max-width: 300px; }
    #mc_embed_signup .mc-field-group .btn-subscribe {
      transition: all, 0.3s, ease;
      background-color: #25a07e; }
      #mc_embed_signup .mc-field-group .btn-subscribe:hover, #mc_embed_signup .mc-field-group .btn-subscribe:active, #mc_embed_signup .mc-field-group .btn-subscribe:focus {
        background-color: #1c765d;
        color: #FFF; }
  #mc_embed_signup div.mce_inline_error {
    display: none !important; }

#footer {
  color: #FFF; }

#social-icons {
  margin-top: 1em; }
  #social-icons a {
    text-decoration: none !important; }
    #social-icons a:hover {
      text-decoration: none !important; }
  #social-icons .fa {
    transition: all, 0.3s, ease;
    color: #FFF;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #25a07e;
    font-size: 1.75em;
    text-align: center;
    padding: 0.75em 0;
    margin: 0.5em; }
    @media (min-width: 700px) {
      #social-icons .fa {
        margin: 1em; } }
    #social-icons .fa:hover, #social-icons .fa:active, #social-icons .fa:focus {
      background-color: #1c765d;
      color: #FFF; }

/*# sourceMappingURL=main.css.map */
