//General Styles

html
    font-family: $font-josefin
    
h1
    font-weight: 700
    letter-spacing: 1px
    
h2
    font-weight: 300
    letter-spacing: 1px
    
#hero
    background-color: $green
    height: 100vh
    
#logo
    width: 200px
    margin-left: .85em
    display: block
    @include breakpoint(small)
        width: 245px
    
#hero-content
    color: $white
    text-align: left
    max-width: 600px
    margin-top: 7em
    @include breakpoint(medium)
        max-width: 1070px
    a
        color: steelblue
        transition: color 0.75s ease
        text-decoration: none
        
    h1
        font-size: 2.5em
        @include breakpoint(small)
            font-size: 3em
        @include breakpoint(large)
            font-size: 4em
    h2
        margin-top: 2em
        font-size: 1.75em
        @include breakpoint(small)
            font-size: 2.25em
            
.arrow-background
    background-color: steelblue
    width: 60px
    height: 60px
    border-radius: 50%
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.09),0 8px 17px 0 rgba(0,0,0,0.08)
    display: block
    margin: 5em auto
    -webkit-transition: box-shadow .1s ease-in-out, transform .1s ease-in-out
    transition: box-shadow .1s ease-in-out, transform .1s ease-in-out
    &:hover
        box-shadow: 0 17px 50px 0 rgba(0,0,0,0.12),0 12px 15px 0 rgba(0,0,0,0.14)
        -webkit-transform: scale(1.1, 1.1)
        transform: scale(1.1, 1.1)
        .arrow
            -webkit-transform: scale(1.1, 1.1), rotate(0deg)
            transform: scale(1.1, 1.1), rotate(0deg)
    @include breakpoint(extra-small)
        margin: 7em auto
    @include breakpoint(small)
        margin: 6em auto
    @include breakpoint(medium)
        margin: 7em auto
    @include breakpoint(large)
        margin: 6em auto
        
.arrow
    position: relative
    width: 15px
    height: 15px
    margin: auto
    top: 18px
    -webkit-transform: rotate(45deg)
    border-left: none
    border-top: none
    border-right: 2px #fff solid
    border-bottom: 2px #fff solid

        
        
        
        